.divAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 42vh;
    width: 180vvh;
    background-color: #000814;
    border: 3px solid #7cb038;
    border-radius: 3rem;
    margin: 3rem;
    font-family: "Helvetica Neue","serif";
    font-size: 1rem;
    color: beige;
    padding-bottom: 2rem;

}

@media (max-width: 600px) {
    .divAbout {
        width: 70vh;
        height: 40vh;
        font-size: 0.65rem;
        padding-top: 0;
        margin-top: 0;
    }
}

